@model IEnumerable<LearningMVC.Models.PetModel>

@{
    ViewData["Title"] = "Pets";
}

<h1>Pets</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alive)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Name }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Name })
            </td>
        </tr>
}
    </tbody>
</table>
